
<footer class="footer">
  <small>
    The <a href="http://www.lonelyplanet.com/indonesia/weather">Weather</a> &
    <a href="http://pt.magicseaweed.com/Bali-Lombok-Surf-Forecast/55/">Waves</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.thejakartapost.com/">News</a></li>
    </ul>
  </nav>
</footer>
